body{
    background-color: #fbe7aa;
    margin: 0;
    padding: 0;
    
}



nav{
    background-color: #fab85c;
}

.hyr{
    text-align: center;
    background-color: #FFD4A1;
}


.Udheto{
    text-align: center;
    font-style: initial;
    margin-top: 30px;
}


.eg:hover{
    color: orange;
}

.fo{

}

.bayhotel:hover{
    color: blue;
}